# Ignore compiled object files
*.o

# Ignore compiled executable files
*.exe
*.out
*.app

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore system files (macOS, Windows, etc.)
.DS_Store   # macOS
Thumbs.db   # Windows
